page-category {
    
    
    background:rgba(255, 255, 255, 0.5);

.content{
    
    background: blue($color: #000000);
    
     .grid{
      
       
		
			font-size: 2em;
			
          .col{
              padding:1px;
              ion-card{     
                background:rgba(157, 157, 157, 0.5);
                  font-size: 2em;                   
                  border-radius: 2rem;
                  width: 101%;
                  margin: 0px;
                  ion-card-content{
                    background:rgba(255, 255, 255, 0.5);
                      padding: 1px 13px;
                  }
                  
              }
          }
      }

}
}